[submodule "Assets/Plugins/UnityExtensions"]
	path = Assets/Plugins/UnityExtensions
	url = https://github.com/hiyorin/upm.Extensions-for-Unity.git
[submodule "Assets/Plugins/UnityExtensions.UniRx"]
	path = Assets/Plugins/UnityExtensions.UniRx
	url = https://github.com/hiyorin/upm.Extensions-for-Unity.UniRx.git
[submodule "Assets/Plugins/UnityExtensions.DOTween"]
	path = Assets/Plugins/UnityExtensions.DOTween
	url = https://github.com/hiyorin/upm.Extensions-for-Unity.DOTween.git
